<%- include partials/header.ejs %>
<% if(displayMessage) { %>
	<h3><%=message%></h3>
<% } %>
<form action="/admin/addcar" method="POST">
	<label for="carModel">Car Model</label>
	<select name="carModel">
		<% for(let modelDetail of model) { %>
			<option value="<%= modelDetail.name %>"><%= modelDetail.name %></option>
		<% } %>
	</select>			
	<label for="registrationNumber">Registration Number</label>
	<input type="text" name="registrationNumber" id="registrationNumber" autocomplete="off">
	<label for="imageURL">Image URL</label>
	<input type="text" name="imageURL" id="imageURL" autocomplete="off">
	<label for="carModelYear">Car Model Year</label>
	<select name="carModelYear">
		<% const dt = new Date(); %>
		<% for(let i=1952; i<=dt.getFullYear(); i++) { %>
			<option value="<%= i %>" <% if (i==dt.getFullYear()) { %> selected <%}%>><%= i %></option>
		<% } %>
	</select>			
	<label for="procuredOn">Procured On</label>
	<input type="date" id="procuredOn" name="procuredOn">
	<!-- <label for="nextServiceDue">Next Service Due</label>
	<input type="date" id="nextServiceDue" name="nextServiceDue">
	<label for="lastServiceDate">last Serviced On</label>
	<input type="date" id="lastServiceDate" name="lastServiceDate">			 -->
	<button type="submit">Add Car</button>
</form>
<a href="/admin/addmodel">Add a Model</a>
<%- include partials/footer.ejs %> 