<%- include partials/header.ejs %>
<section class="book-now">
	<form action="/book" class="book-form" method="POST">
		<fieldset>
			<legend>Book now</legend>
			<input type="text" id="pick-up-location" name="location" placeholder="Enter your pickup location" value=<%=pickUpLocation%>>
			<input type="date" id="pick-up-date" name="startDate" value=<%=startDate%>>
			<select name="cars" name="duration" value=<%=duration%>>
			  <option value="1">1 month</option>
			  <option value="2">2 months</option>
			  <option value="3">3 months</option>
			  <option value="4">4 months</option>
			</select>
			<button class="submit">Modify</button>
		</fieldset>
	</form>
</section>
<h1>Cars</h1>	
<% if(model.length == 0) { %>
<p>No Cars available</p>
<% } else { %>
<% for(let modelDetail of model) { %>
<div>
	<p><%= modelDetail.name %></p>
	<p><%= modelDetail.modelClass %></p>	
</div>
<div>
	<p><%= modelDetail.pricePerHour %></p>
	<p><%= modelDetail.seating %></p>	
</div>
<div>
	<p><%= modelDetail.enginePower %></p>
	<p><%= modelDetail.engineCC %></p>	
	<p><%= modelDetail.transmission %></p>	
	<p><%= modelDetail.mileage %></p>	
</div>
<form action="/checkout" method='POST'>
	<button type="submit">Select Car</button>
	<input type="hidden" name="modelId" value=<%=modelDetail._id%>>
	<input type="hidden" name="vehiclesInUse" value=<%=vehiclesInUse%>>
	<input type="hidden" name="startDate" value=<%=startDate%>>
	<input type="hidden" name="pickUpLocation" value=<%=pickUpLocation%>>
	<input type="hidden" name="duration" value=<%=duration%>>
</form>
<a href="">View More Information</a>
<% }} %>
<%- include partials/footer.ejs %>