<%- include partials/header.ejs %>
<div>
	<p>Your order details</p>
	<p>Start Date - <%=startDate.toString()%></p>
	<p>Pick up Location - <%=pickUpLocation%></p>
	<p>Duration - <%=duration%></p>

	<form action="/coupon" method="POST">
		<label for="couponCode">Coupon Code</label>
		<input type="text" name="couponCode" value="<%=couponCode%>">
		<button type="submit">Apply Coupon</button>
		<input type="hidden" name="modelId" value="<%=modelDetail.name%>">
		<input type="hidden" name="vehiclesInUse" value="<%=vehiclesInUse%>">
		<input type="hidden" name="startDate" value="<%=startDate%>">
		<input type="hidden" name="pickUpLocation" value="<%=pickUpLocation%>">
		<input type="hidden" name="duration" value="<%=duration%>">
		<input type="hidden" name="modifiedPrice" value="<%=modifiedPrice%>">
	</form>

	<% if(message) { %>
	<h3><%=message%></h3>
	<% } %>
	<p>model - <%=modelDetail.name%></p>
	<p>Base Price (1 month) - <%=modelDetail.pricePerHour%></p>
	<p>Total Price - <%=modelDetail.pricePerHour * duration%></p>
	<p>Discount - <%=discount%></p>
	<p>Price after discount - <%=modifiedPrice%></p>

	<form action="/confirm" method="POST">
		<button type="submit">Confirm Booking</button>
		<input type="hidden" name="modelId" value="<%=modelDetail.name%>">
		<input type="hidden" name="vehiclesInUse" value="<%=vehiclesInUse%>">
		<input type="hidden" name="startDate" value="<%=startDate%>">
		<input type="hidden" name="pickUpLocation" value="<%=pickUpLocation%>">
		<input type="hidden" name="duration" value="<%=duration%>">
		<input type="hidden" name="modifiedPrice" value="<%=modifiedPrice%>">
	</form>
</div>
<%- include partials/footer.ejs %> 