<%- include partials/header.ejs %>

<p>Your order details</p>
<p>Start Date - <%=startDate%></p>
<p>Pick up Location - <%=pickUpLocation%></p>
<p>Duration - <%=duration%></p>

<p>model - <%=modelDetail.carModelName%></p>
<p>Total Price - <%=modifiedPrice%></p>
<%- include partials/footer.ejs %>