<%- include partials/header %>
<h1><%= offerDetail.offerName %></h1>	
<div>
	<p><%= offerDetail.offerCode %></p>
</div>
<div>
	<p><%= offerDetail.couponCode %></p>
	<p>Valid Till <%= offerDetail.validTill %></p>
</div>

<%- include partials/footer %>